---
import { getCollection } from "astro:content";
import { slugify } from "@utils/utils.js";
import { getLocalePlaceholder, t } from "i18n:astro";
import { collectionFilters } from "@astrolicious/i18n/content-collections";
import BaseLayout from "src/layouts/BaseLayout.astro";
import Landing from "@components/Landing.astro";
import BlogFullArticle from "@components/BlogFullArticle.astro";
import FeaturedPost from "@components/FeaturedPost.astro";

// Generates paths for blog posts, filtered by locale.
export const getStaticPaths = async () => {
  const locale = getLocalePlaceholder();
  const posts = await getCollection("blog", (post) =>
    collectionFilters.byLocale(post, { locale }),
  );
  return posts.map((entry) => ({
    params: { post: slugify(entry.slug) },
    props: { post: entry },
  }));
};

const { post } = Astro.props;
---

<BaseLayout
  title={t("blog:landing")}
  description="Meta description for the page"
>
  <Landing title={t("blog:landing")} />

  <section class="main-content-wrapper">
    <!--Main content -->
    <div class="main-content">
      <BlogFullArticle post={post} />
    </div>
    <FeaturedPost post={post} />
  </section>
</BaseLayout>

<style lang="less">
  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    .main-content-wrapper {
      padding: var(--sectionPadding);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: (50/16em);
    }

    .main-content {
      // width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: (50/16em);
    }
  }

  /* Tablet - 1024px */
  @media only screen and (min-width: 64em) {
    .main-content-wrapper {
      flex-direction: row;
      align-items: flex-start;
    }
  }
</style>
