---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getLocalePath, t } from "i18n:astro";
import Picture from "astro/components/Picture.astro";
import landingImage from "@assets/images/landing.jpg";
export const prerender = false;

const title = t("404.pageNotFound");
---

<BaseLayout title={title} description={title}>
  <section id="int-hero">
    <h1>{title}</h1>
    <a href={getLocalePath("/")} class="cs-button-solid">{t("404.linkText")}</a>
    <Picture
      src={landingImage}
      formats={["avif", "webp"]}
      aria-hidden="true"
      alt=""
      loading="eager"
    />
  </section>
</BaseLayout>

<style lang="less">
  #int-hero {
    height: 100dvh;
    padding-top: 5em;
    padding-block-end: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;

    h1 {
      font-size: clamp(1.75rem,4.5vw,3.5rem);
    }

    picture {
      opacity: 0.2;;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .cs-button-solid {
    margin-top: 4em;
    background-color: var(--primary);
    border-radius: (4/16rem);
    position: relative;
    z-index: 1;
    transition: color 0.3s;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: var(--accent-400);
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: (4/16rem);
      transition: width 0.3s;
    }

    &:hover {
      color: var(--color-100);
      &:before {
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 64em) {
    #int-hero {
      padding-top: 12em !important;
      padding-block-end: 2em !important;
      background-attachment: fixed;
    }
  }
</style>
