---
import ThemeSelect from "./ThemeSelect.astro";
import LanguageSelect from "./LanguageSelect.astro";
---

<div class="options-wrapper">
    <ThemeSelect />
    <LanguageSelect />
</div>

<style>
    /* Mobile */
    @media only screen and (min-width: 0) {
        .options-wrapper {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            border-top: 1px solid hsl(224, 6%, 77%);
            padding-block: 1em;
        }

        body.dark-mode {
            .options-wrapper {
                border-top: 1px solid hsl(224, 10%, 23%);
            }
        }
    }

    @media only screen and (min-width: 64rem) {
        .options-wrapper {
            display: flex;
            flex-direction: row;
            padding: 0;
            border-top: none;
            gap: 1.5em;
        }

        body.dark-mode {
            .options-wrapper {
                border-top: none;
            }
        }
    }
</style>
